$white: #EDEDED;
$gray: #BFC0C0;
$dark: #585959;
$light: #D3DEEA;

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

$big: 'Avril Fatface', serif;
$body: 'Lato', sans-serif;

body {
    background: $light;
}

