@import url('https://fonts.googleapis.com/css?family=Lato|Lora');

$dark: #252C32;
$brown: #5B4644;
$coffee: #87624F;
$tan: #DAB7A3;
$white: #F4E8DA;
$water: #859FB5;

$sans: 'Lato', sans-serif;
$serif: 'Lora', serif;