body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

h3 {
    margin: 0px;
}

hr {
    margin-left: 80px;
    margin-right: 80px;
}

table {
    text-align: center;
    border-collapse: collapse;
    /* 隣り合ったテーブルセルの間隔を指定するプロパティ */
}

.member {
    display: flex;
    justify-content: space-between;
    height: 20%;
}

.align-vert {
    display: flex;
    flex-direction: column;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center; // ボックスの中央寄せを簡単に行うことができる
}